$blackColor: #121213;
$whiteColor: #f1f1f4;
$grayColor: #575759;
$grayDarkColor: #1f1f20;
$blueDarkColor: #7193ed;
$yellowColor: #f5c042;
$orangeColor: #f5a742;
$greenColor: #15ad70;
$redColor: #eb546f;

$standardText: 14px;
